* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #0ef;
    font-size: 18px;
    transition: 0.2s;

    /* rendre les éléments de liste non sélectionnables */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}
/* Définir tous les éléments de liste impairs à une couleur différente (zébrés-rayures) */
ul li:nth-child(odd){
    background: #f9f9f9;
}
/* Couleur de fond plus foncée sur le curseur */
ul li.checked {
    background: #032c40;
    color: #ffff;
    text-decoration: line-through;
}
/* Ajouter un repère "coché" lorsque vous cliquez sur le button*/

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}